/* Estilos para las flechas del slider */
.slick-prev, .slick-next {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
  opacity: 0.8;
  color: #e67e22; /* Color naranja que coincide con tu diseño */
}