/* LoginPage.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
}

/* Imagen */
.login-image {
  width: 50%;
  position: relative;
}
.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Formulario */
.login-form {
  width: 50%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 80px;
  position: relative;
}

.login-form .logo-container {
  position: absolute;
  top: 70px;
  left: 42%;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-form .logo-container img {
  height: 35px;
}
.login-form .logo-container span {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.login-form h1 {
  color: #ff7f00;
  font-size: 2.3rem;
  margin: 50px 0 20px;
}
.login-form p {
  margin: 0 0 30px;
  color: #ff7f00;
}
.login-form p a {
  color: #1e8ded;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}
.login-form p a:hover {
  text-decoration: underline;
  color: #62c0f7;
}
.login-form h4 {
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 10px;
}

.login-form form {
  width: 100%;
}
.login-form label {
  font-weight: bold;
  display: block;
  margin: 20px 0 15px;
  color: #ff7f00;
  font-size: 16px;
}
.login-form input {
  width: 100%;
  padding: 14px 16px;
  background-color: #fff;
  border: 1px solid #444;
  color: #444;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
.login-form input:focus {
  outline: none;
  border-color: #ff7f00;
}
.login-form input::placeholder {
  color: #777;
}


/* Mensaje de error */
.login-form .error-message {
  padding-top: 53px;
  color: #ff4d4d !important;
  font-weight: bold;
}


/* Botón de login */
.login-button {
  width: 100%;
  background-color: #ff7f00;
  color: black;
  padding: 14px;
  margin-top: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
}
.login-button:hover {
  background-color: #ff4300;
  color: #fff;
  box-shadow: 0 0 8px rgba(255, 67, 0, 0.8);
}
